.text-area_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area_window {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 20px;
    background-color: #1a1a1a;
    border: 1px solid #646cff;
    border-radius: 15px;
    min-height: 550px;
    min-width: 750px;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.text-area_window-preview {
    position: absolute;
    top: 10px;
    left: 10px;
    height: fit-content;
    width: fit-content;
    padding: 0;
    background-color: #1a1a1a;
    border-radius: 15%; 
}


.text-area_header {
    display: flex;
    justify-content: block-start;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    margin: 10px;
    padding: 12px 400px 12px 20px;
    color: #f5f5f5;
    background-color: #646cff;
}

.text-area_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
}

.text-area_button_extended {
    font-size: 15px;
}

.text-area_button_wrapped-icon {
    padding: 4px;
    margin: 0;
    width: 40px;
    height: 40px;
    font-size: 25px;
}

.text-area_input {
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
    background-color: #1e1c28;
    color: #a0a0a0;
    font-size: large;
    font-weight: 700;
    border: 1px solid #646cff;
    box-shadow: 0px 3px 5px 5px rgba(57, 49, 95, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    resize: none;
}

.text-area_input:focus-visible {
    transform: scale(1.05) translateY(15px);
    box-shadow: 0px 6px 10px 10px rgba(57, 49, 95, 0.5);
    outline: none;
}

/* .text-area_main {
    
}

.text-area_footer {
    
} */